from{
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}

.input{
    padding: 375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 25rem;


}