label{
    padding-left: 20px;
}

tr {
    width: 100%;
}

td {
    padding-left: 1rem;
    padding-top: 5px;
    display: inline-block;
}
.Selected {
    background-color: #3590db;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Wishlist {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.oneClick {
    visibility: hidden;
}

.oneClickSelected {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0px;

    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
}

.Booking {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.recommended {
    background-color: #1ca909;
}

.recommendedText {
    color: #EEEEEE;
}

.rebook {
    font: inherit;
    cursor: pointer;
    background-color: #0961a9;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #034072;
    border-radius: 4px;
    font-weight: bold;
    margin-right: 1rem;
    float: right;
}
