label{
    padding-left: 20px;
}

tr {
    width: 100%;
}

td {
    padding-left: 1rem;
    padding-top: 5px;
    display: inline-block;
}
.Selected {
    background-color: #3590db;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Wishlist {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
