.main {

    margin: 3rem;
    width: 90%;

}
.layout {
    display: flex;
    justify-content: center;
    height: 80vh;
    width: auto;
}

.adleft {
    float: left;
    left: 5%;
    width: 20%;
    height: inherit;


}
.adright {
    float: right;
    height: inherit;
    right: 0px;
    width: 20%;

}

.inner {
    position: center;
    width: 50%;
    height: inherit;
    margin-inline: 3em;

}